h1 {
    color: red;
}
h2 {color: blue;

}
p {
    color: darkkhaki;
}

#p1 {
    color: cornflowerblue;
}
#p2 {
    color: cyan;
}
#Astroworld {
    width: 200px;
}
#scorpion {
    width: 200px;
}
#brockhampton {
    width: 200px;
}
#dura {
    width: 200px;
}